::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #8E8172;
}

html {
    background-color: #e5ffff;
}

body {
    font-family: 'Architects Daughter', cursive;
    font-size: 14pt;
    color: #2B1A00;
    padding-top: 20px;
}

p {
    margin: 0;
}

span {
    font-size: 22px;
}

input[type="text"] {
    font-size: 15pt;
    box-shadow: 0 0 3px #AAAAAA;
    border: 2px solid #FFFFFF;
    padding: 4px 60px 4px 10px;
    background-color: #DDDCD7;
    font-family: inherit;
    font-weight: bold;
    opacity: 0.8;
    color: inherit;
}

    input[type="text"]:focus, input[type="text"]:hover {
        opacity: 1;
    }

section.pusher > p {
    float: left;
}

section.list {
    padding: 10px 30px;
    clear: left;
}

.lstWrap {
    border: 3px solid white;
    box-shadow: 0 0 5px #b1b1b1;
    display: table;
    margin: auto;
    padding: 25px;
    background: rgb(252,216,131); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(252,216,131,1) 0%, rgba(249,222,157,1) 20%, rgba(249,228,179,1) 40%, rgba(249,228,179,1) 60%, rgba(252,216,131,1) 80%, rgba(252,216,131,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(252,216,131,1)), color-stop(20%,rgba(249,222,157,1)), color-stop(40%,rgba(249,228,179,1)), color-stop(60%,rgba(249,228,179,1)), color-stop(80%,rgba(252,216,131,1)), color-stop(100%,rgba(252,216,131,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(252,216,131,1) 0%,rgba(249,222,157,1) 20%,rgba(249,228,179,1) 40%,rgba(249,228,179,1) 60%,rgba(252,216,131,1) 80%,rgba(252,216,131,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(252,216,131,1) 0%,rgba(249,222,157,1) 20%,rgba(249,228,179,1) 40%,rgba(249,228,179,1) 60%,rgba(252,216,131,1) 80%,rgba(252,216,131,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(252,216,131,1) 0%,rgba(249,222,157,1) 20%,rgba(249,228,179,1) 40%,rgba(249,228,179,1) 60%,rgba(252,216,131,1) 80%,rgba(252,216,131,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(252,216,131,1) 0%,rgba(249,222,157,1) 20%,rgba(249,228,179,1) 40%,rgba(249,228,179,1) 60%,rgba(252,216,131,1) 80%,rgba(252,216,131,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd883', endColorstr='#fcd883',GradientType=1 ); /* IE6-9 */
}

.checkWrap {
    display: inline-block;
}

.elemContainer {
    display: inline-block;
}

.elemWrap {
    display: inline-block;
    left: 5px;
    position: relative;
    top: 6px;
    overflow: hidden;
    cursor: default;
}

    .elemWrap span {
        font-weight: bold;
    }

.elemRemove {
    cursor: pointer;
    display: inline-block;
    left: 5px;
    position: relative;
    top: -5px;
    opacity: 0.6;
    visibility: visible;
    font-size: 15px;
}

    .elemRemove:hover {
        opacity: 1;
    }

    .elemRemove i {
        color: #AF0505;
    }

    .elemRemove.ng-hide {
        display: inline-block !important;
        visibility: hidden;
    }

.checkbox i {
    font-size: 24px;
    cursor: pointer;
    width: 24px;
}

.radius {
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.addButton {
    position: relative;
    top: 8px;
    opacity: 0.6;
    z-index: 100;
    cursor: pointer;
    width: 0px;
}

    .addButton:hover {
        opacity: 1;
    }

    .addButton:nth-child(2) {
        left: -52px;
    }

    .addButton:nth-child(3) {
        left: -28px;
    }

.lineThrough {
    position: relative;
    top: -15px;
    border-bottom: 2px solid #2B1A00;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 0px;
}

    .lineThrough.ng-hide {
        left: -100%;
        display: block !important;
    }
